EXPO_PUBLIC_SUPABASE_URL=https://jvulfhkrwsegomdcpdjp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2dWxmaGtyd3NlZ29tZGNwZGpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0OTM2ODcsImV4cCI6MjA4OTA2OTY4N30.ftaE2xC_KO9mEx0J2uiqrxJN-X59wNJpRe-Gt3gYzi8
